html,
body {
  background: #f0ede0;
  overflow: hidden;
}

.centering-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
