.centering-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.panel {
  width: 400px;
  text-align: center;
  padding: 32px 16px;
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 7px;
}

.labeled-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: end;
}

.labeled-input label::after {
  content: ":";
}

.labeled-input label + * {
  width: 50%;
}

button.raised {
  margin: 3px;
  min-height: 24px;
  min-width: 60px;
  background: #ddd;
  border: 1px solid #0007;
  border-radius: 5px;
  box-shadow: inset 0 2px #fffc, inset 2px 0 #0001, inset -2px 0 #0001,
    inset 0 -2px #0002;
  padding: 2px 8px;
  cursor: pointer;
}
